@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'TT Commons Regular';
    src: url('assets/fonts/TT\ Commons\ Regular.otf') format('otf');
    font-weight: 700;
    font-style: bold;
  }
  @font-face {
    font-family: 'TT Commons Black';
    src: url('assets/fonts/TT\ Commons\ Black.otf') format('otf');
    font-weight: 1000;
    font-style: extrabold;
  }
  .custom-font-div {
    font-family: 'TT Commons Black', sans-serif;
  }